DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'request-broker-db',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = ['request-broker-web', 'localhost']

ARCHIVESSPACE = {
  "baseurl": "http://localhost:8089/",
  "username": "admin",
  "password": "admin",
  "repo_id": 2,
}

STATIC_ROOT = '/static'

EMAIL_HOST = 'mail.example.org'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'alerts@example.org'
EMAIL_HOST_PASSWORD = 'password'
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False
DEFAULT_FROM_EMAIL = 'alerts@example.org'
