DJANGO_DEBUG = 1  # run Django in debug mode, which outputs stack traces to the UI, set to False for production (1 for True, 0 for False)
DJANGO_SECRET_KEY = "obop2gifqn6wncaha^dt!w3an-%vkj_&1a@(w-2ci0))^o%#f4"  # used by Django to create hashes
DJANGO_ALLOWED_HOSTS = ['request-broker-web', 'localhost']  # hosts Django will respond to (list of strings)
DJANGO_CORS_ALLOWED_ORIGINS = ['http://localhost:3000', 'http://rac-vch.ad.rockarchive.org:3001']  # hosts to add to the CORS Allowed-Origin header (list of strings)
SQL_ENGINE = "django.db.backends.postgresql"  # the database engine used by the application (one of django.db.backends)
SQL_DATABASE = "request_broker_dev" # name of the application database
SQL_USER = "postgres"  # name of the application database user
SQL_PASSWORD = "postgres"  # password for the application database
SQL_HOST = "request-broker-db"  # host for the application database
SQL_PORT = 5432  # port on which the application database can be reached
AS_BASEURL = "http://as.rockarch.org:8089/"  # base URL for an ArchivesSpace API instance
AS_USERNAME = "admin"  # username for an ArchivesSpace user (read-only credentials required)
AS_PASSWORD = "admin"  # password for the ArchivesSpace user
AS_REPO_ID = 2  # identifier for an ArchivesSpace repository
EMAIL_HOST = "mail.example.com"  # mail host to send emails from
EMAIL_PORT = 123  # port on which mail service is available
EMAIL_HOST_USER = "dimes@example.com"  # user that should send email messages
EMAIL_HOST_PASSWORD = "foobar"  # password for the email user
EMAIL_USE_TLS = 1  # Use TLS connection for email (1 for True, 0 for False)
EMAIL_USE_SSL = 0  # Use SSL connection for email (1 for True, 0 for False)
DEFAULT_FROM_EMAIL = "dimes@example.com"  # user that should be set as the sender
DIMES_HOSTNAME = "dimes.rockarch.org" # Hostname for DIMES application
RESTRICTED_IN_CONTAINER = False  # Fetch a list of restricted items in the same container as the requested item.
OFFSITE_BUILDINGS = ["Armonk", "Greenrock"]  # Names of offsite buildings, which will be added to locations (list of strings)
RESOURCE_ID_SEPARATOR = ':'
